<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->    
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <br/><br/>
                    <!-- column -->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                        <a style="float:right;" (click)="createJobBtnClick()" mat-raised-button color="warn">CREATE JOB</a>
                        <app-smart-table></app-smart-table>
                    </div>
                </div>      
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->    
</div>