<div class="steps-container" id="stepNav">
        <div class="steps-row justify-content-between">
             <ng-container *ngFor="let step of steps">
                <div class="steps-step" [class.disabled]="step.disabled">
                    <a routerLink="{{step.routerLink}}" [routerLinkActive]="['active']" title="{{step.label}}" type="button" class="step-btn-circle">
                       <i class="icon material-icons">{{step.icon}}</i>
                    </a>
                    <div class="step-title">
                        <h5>{{step.label}}</h5>
                    </div>
                </div>
            </ng-container> 
            <div class="clearfix"></div>
        </div>
    </div>
    