<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->    
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <div fxFlex.gt-sm="100%" fxFlex="100">
                        <!-- Create Job Works! -->



                        <app-steps-nav-wrapper [steps]="stepItems"></app-steps-nav-wrapper>
                        <div class="content">
                            <router-outlet></router-outlet>    
                        </div>






                    </div>
                </div>      
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->    
</div>