
<form [formGroup]="recommendationForm" (ngSubmit)="onNext()"  fxLayout="row" fxFlex="calc(100%)" fxLayoutGap="100px" fxLayoutAlign="center center">
    <div formArrayName="recommendations" *ngFor="let rec of recommendationFormArray.controls;let idx=index">
        <app-card-wrapper formGroupName ="{{idx}}">
            <div card-content>
                <div class="col s12 m4">
                    <div *ngIf="recommendationCards[idx].title != 'Best Value';else other_content">
                        <div class="card pricing style-2">
                            <!-- START PLAN TITLE DIV. -->
                            <div class="plan-title waves-effect waves-block waves-light teal">
                                <h5 class="white-text">
                                    <span class="plan">{{recommendationCards[idx].title}}</span>
                                </h5>
                            </div>
                            <!-- END PLAN TITLE DIV. -->
                            
                            <!-- START INFO DIV. -->
                            <div class="price waves-effect waves-block waves-light teal lighten-1">
                                <h4 class="white-text">
                                    <span class="currency">$</span>
                                    <span class="amount">{{recommendationCards[idx].price}}</span>
                                    <!-- <span class="period">/mo</span> -->
                                </h4>
                            </div>
                            <!-- END INFO DIV. -->
                            
                            <div class="card-content">
                                
                                <!-- START FEATURE LIST -->
                                <ul class="collection">
                                    <li class="collection-item"><b>Waiting Time </b> : {{recommendationCards[idx].waitingtime}}</li>
                                    <li class="collection-item"><b>Wall Time </b> : {{recommendationCards[idx].walltime}}</li>
                                    <li class="collection-item"><b>Nodes </b> : {{recommendationCards[idx].chunk}}</li>  
                                    <li class="collection-item"><b>Cores / Node</b> : {{recommendationCards[idx].ncpu}}</li>
                                    <li class="collection-item"><b>RAM</b> : {{recommendationCards[idx].mem}}</li>  
                                    <li class="collection-item"><b>GPU</b> : {{recommendationCards[idx].gpu}}</li>  
                                    <li class="collection-item"><b>Clock Speed</b> : {{recommendationCards[idx].clockspeed}}</li>  
                                    <li class="collection-item"><b>Cluster</b> : {{recommendationCards[idx].cluster}}</li>             
                                </ul>
                                <!-- END FEATURE LIST -->
                                
                                <!-- START SELECT BUTTON -->
                                <div class="plan-signup-btn">
                                    <button (click)="onSelectHandler(idx)" [id]="'select-button-'+ idx" 
                                    class="btn waves-effect waves-block waves-light no-margin white-text"
                                    style="width: 100%;">
                                            <span class="dark-grey-text">SELECT</span>
                                    </button>
                                </div>
                                <!-- END SELECT BUTTON --> 
                            </div>
                        </div>
                    </div>
                    <ng-template #other_content>
                        <div class="card pricing style-2 z-depth-4">
                            <!-- START PLAN TITLE DIV. -->
                            <div class="plan-title waves-effect waves-block waves-light yellow darken-3">
                                <h5 class="dark-grey-text">
                                    <span class="plan">{{recommendationCards[idx].title}}</span>
                                </h5>
                            </div>
                            <!-- END PLAN TITLE DIV. -->
                            
                            <!-- START INFO DIV. -->
                            <div class="price waves-effect waves-block waves-light yellow darken-2">
                                <h4 class="dark-grey-text">
                                    <span class="currency">$</span>
                                    <span class="amount">{{recommendationCards[idx].price}}</span>
                                    <!-- <span class="period">/mo</span> -->
                                </h4>
                            </div>
                            <!-- END INFO DIV. -->
                            
                            <div class="card-content">
                                
                                <!-- START FEATURE LIST -->
                                <ul class="collection">
                                    <li class="collection-item"><b>Waiting Time </b> : {{recommendationCards[idx].waitingtime}}</li>
                                    <li class="collection-item"><b>Wall Time </b> : {{recommendationCards[idx].walltime}}</li>
                                    <li class="collection-item"><b>Nodes </b> : {{recommendationCards[idx].chunk}}</li>  
                                    <li class="collection-item"><b>Cores / Node</b> : {{recommendationCards[idx].ncpu}}</li>
                                    <li class="collection-item"><b>RAM</b> : {{recommendationCards[idx].mem}}</li>  
                                    <li class="collection-item"><b>GPU</b> : {{recommendationCards[idx].gpu}}</li>  
                                    <li class="collection-item"><b>Clock Speed</b> : {{recommendationCards[idx].clockspeed}}</li>  
                                    <li class="collection-item"><b>Cluster</b> : {{recommendationCards[idx].cluster}}</li>             
                                </ul>
                                <!-- END FEATURE LIST -->
                                
                                <!-- START SELECT BUTTON -->
                                <div class="plan-signup-btn">
                                    <button (click)="onSelectHandler(idx)" [id]="'select-button-'+ idx" 
                                    class="btn-large waves-effect waves-block waves-light no-margin white-text yellow darken-2"
                                    style="width: 100%;">
                                            <span class="dark-grey-text">SELECT</span>
                                    </button>
                                </div>
                                
                                <!-- END SELECT BUTTON --> 
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </app-card-wrapper>
    </div>
</form>
